name: Update NuGet Stats

on:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight
  workflow_dispatch:     # Allows manual triggering

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup.NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.*'

      - name: Install dotnet-sponsor
        run: dotnet tool install --global dotnet-sponsor

      - name: Add .dotnet/tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Generate nuget-stats.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: dotnet sponsor nuget --org RedonAlla --output nuget-stats.json

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add nuget-stats.json
          git commit -m "Update NuGet stats"
          git push
